@import url('https://fonts.googleapis.com/css2?family=Francois+One:wght@400;700&display=swap');
@keyframes blink {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.5;
	}
}
@font-face {
	font-family: lcd;
	src: url('data/lcd_font.ttf');
}
button {
	border: none;
	color: white;
	cursor: pointer;
	opacity: 0.8;
	padding: 2px 4px;
}
button[disabled] {
	opacity: 0.1;
	cursor: default;
}
.lock-button {
	position: absolute;
	z-index: 99;
	background: #000000;
	margin-left: 5px;
	margin-top: 5px;
}
button:not([disabled]):hover {
	opacity: 1.0;
}
button:not([disabled]):hover:active {
	opacity: 0.8;
}
.eq button {
	width: 100%;
	margin-bottom: 10px;
	font-size: 140%;
}
#queue {
	background: #ffa801;
}
#cancel {
	background: #808e9b;
}
html, body {
	background: #1e272e;
	padding: 0;
	margin: 0;
}
body {
	width: 60%;
	margin-top: 40px;
	border: solid 2px #ffffff60;
}
* {
	font-size: 16px;
	font-family: 'francois one', sans-serif;
	box-sizing: border-box;
}
#direction {
	font-size: 300%;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	background: none;
}
input[type="number"] {
	background: rgba(255, 255, 255, 0.1);
	padding: 8px;
	border: solid 2px gray;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 140%;
}
select {
	text-align: center;
	background: #ffffff20;
	padding: 5px;
	border: solid 2px #ffffff60;
	color: white;
	width: 100%;
	-webkit-appearance: none;
	background-image: url('data/dropdown.png');
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) center;
	font-size: 130%;
	margin-top: 10px;
}
option {
	background: #1e272e;
	padding: 5px;
	border: solid 2px gray;
}
html {
	-webkit-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	display: flex;
	justify-content: center;
	color: white;
}
.container-fluid {
	background: #1e272e;
}
#status {
	padding: 10px;
	font-size: 150%;
}
.header {
	font-weight: bold;
	font-size: 130%;
	margin: 10px 0px;
	border-bottom: solid 2px #ffffff60;
	color: white;
	padding: 5px 0px;
}
.tape {
	overflow-y: hidden;
	overflow-x: overlay;
	/*border: solid 2px #ffffff80;*/
	height: 80px;
}
.tape.a, .control:first-of-type {
	background: rgba(255, 63, 52, 0.32);
	text-align: left;
}
.tape.b, .control:last-of-type {
	background: rgba(52, 123, 255, 0.32);
}
.tape .sausage {
	transition: transform 1s linear;
	width: 10000000px;
}
.tape::-webkit-scrollbar {
	height: 0px;
}
.tape::-webkit-scrollbar-track {
	background: transparent;
}
.tape::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5);
}
.control {}
.control, .eq {
	padding: 15px;
}
.eq {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ffffff30;
	font-size: 130%;
}
.control .title {
	font-size: 130%;
}
.control .artist, .control .bpm {
	color: #ffffff80;
}
.control .bpm {
	display: inline-block;
}
.control .time, .control .length {
	font-family: lcd, monospace;
	font-size: 200%;
	display: inline-block;
}
.control .length {
	font-size: 120%;
}
.controls {
	display: flex;
}
.control {
	width: 40%;
}
.eq {
	width: 20%;
}
#song-query {
	width: 100%;
	padding: 10px;
	font-size: 130%;
	background: #ffffff30;
	border: none;
	border-bottom: solid 2px #ffffff60;
	border-top: solid 2px #ffffff60;
	color: white;
}
table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#songs tr:not(.header):hover {
	background: #ffffff30;
	cursor: pointer;
}
th {
	background: #485460;
	position: sticky;
	top: 0;
}
th.artist {
	width: 40%;
}
th.title {
	width: 60%;
}
.song-list {
	height: 200px;
	overflow-y: scroll;
}